/* FONTS */
@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-Regular.eot), url(/assets/font/Inter-Regular.ttf), url(/assets/font/Inter-Regular.woff), url(/assets/font/Inter-Regular.woff2);
  font-weight: normal; }

@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-500.eot), url(/assets/font/Inter-500.ttf), url(/assets/font/Inter-500.woff), url(/assets/font/Inter-500.woff2);
  font-weight: 500; }

@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-700.eot), url(/assets/font/Inter-700.ttf), url(/assets/font/Inter-700.woff), url(/assets/font/Inter-700.woff2);
  font-weight: 700; }

/* GLOBAL STYLES */
/* Colors variables */
/* Primary orange colors */
/* White colors */
/* Grey colors */
/*
--- COLORS
- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a
- Accents:
- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333
*/
/*
--- SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

*/
/* Fonts sizes */
/* line-height */
/*
--- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
*/
/* Letter-spacing */
/*
--- Letter spacing
-0.5px
0.75px
*/
/* Padding */
/* Transition */
/*
--- border-radius
Default: 9px
Medium: 11px
*/
/* Border radius */
/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /* 10px / 16px = 0.625 = 62.5%*/
  /* Percentage of user's browser font-size settings*/
  font-size: 62.5%; }

body {
  line-height: 1;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-weight: normal; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem; }

/*
---  WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
*/
h1,
.heading-primary,
h2,
.heading-secondary,
h3,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px; }

h1,
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem; }

h2,
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem; }

h3,
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem; }

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px; }

.margin-right-sm {
  margin-right: 1.6rem; }

/* LAYOUT */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0; }

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center; }

.hero-img {
  width: 100%; }

.hero-description {
  font-size: 2rem;
  line-height: 1.2;
  line-height: 1.6;
  margin-bottom: 4.8rem; }

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem; }

.delivered-imgs {
  display: flex; }

.customers {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9; }
  .customers:not(:last-child) {
    margin-right: -1.6rem; }

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600; }

.delivered-text span {
  color: #cf711f;
  font-weight: 700; }

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  align-items: center; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s; }

.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f; }

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22; }

.nav-cta:hover, .nav-cta:active {
  background-color: #cf711f; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem; }

.logo {
  height: 2.2rem; }

.section-how {
  padding: 9.6rem 0; }

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }

.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #dddddd;
  margin-bottom: 1.2rem; }

.step-description {
  font-size: 1.8rem;
  line-height: 1.8; }

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .step-img-box::before {
    content: "";
    display: block;
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color: #fdf2e9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -9; }
  .step-img-box::after {
    content: "";
    display: block;
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }

.step-img {
  width: 35%; }

/* MODULES */
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s; }

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22; }

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555; }

.btn--full:hover, .btn--full:active {
  background-color: #cf711f; }

.btn--outline:hover, .btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff; }

/* PAGES */
