/* FONTS */
@import 'fonts/fonts';

/* GLOBAL STYLES */
@import 'global/variables';
@import 'global/mixins';
@import 'global/global';
@import 'global/typography';
@import 'global/utilities';
@import 'global/flexbox';


/* MODULES */
@import 'modules/button';
@import 'modules/link';
@import 'modules/list';
@import 'modules/form';

/* LAYOUT */
@import 'layout/hero';
@import 'layout/delivered-meals';
@import 'layout/navigation';
@import 'layout/header';
@import 'layout/how-it-works';
@import 'layout/featured';
@import 'layout/meals';
@import 'layout/testimonials';
@import 'layout/pricing';
@import 'layout/cta';
@import 'layout/footer';



/* PAGES */
@import 'pages/home';