/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //font-size: 10px; // 1rem=10px
    /* 10px / 16px = 0.625 = 62.5%*/
    /* Percentage of user's browser font-size settings*/
    font-size: 62.5%;
    overflow-x: hidden;
    // scroll-behavior: smooth;

    @include bp('desktop-s') {
        //font-size: 9px;
        font-size: 56.25%;
    }
    @include bp('touch') {
        //font-size: 9px;
        font-size: 56.25%;
    }
    @include bp('tablet') {
        //font-size: 8px;
        font-size: 50%;
    }
}

body {
    line-height: $line-height-default;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}
.scroll-hidden {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3.2rem;
}

strong {
    font-weight: 500;
}

*:focus {
    outline: none;
    // outline: 4px dotted $primary-color;
    // outline-offset: 8px;
    box-shadow: 0 0 0 .8rem $primary-color;
}