// ---------- Mixins ---------- //
@mixin grid($grid-template-columns, $align-items) {
	display: grid;
	row-gap: 9.6rem;
	column-gap: 6.4rem;
	grid-template-columns: $grid-template-columns;
	align-items: $align-items;
}

@mixin flexCenter($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

// To include use @include breakpoint ($value)
@mixin bp ($value) {
	@if $value == 'phone' {
		@media only screen and (max-width: 767px) { @content; }
	} @else if $value == 'tablet' {
		@media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
	} @else if $value == 'touch' { //phone and tablet
		@media only screen and (max-width: 1024px) { @content; }
	}@else if $value == 'desktop-s' { //phone and tablet
		@media only screen and (max-width: 1200px) { @content; }
	} @else {
		@media only screen and (max-width: $value) { @content; }
	}
}