/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
*/ 
h1,
.heading-primary,
h2,
.heading-secondary,
h3,
.heading-tertiary {
    font-weight: 700;
    color: $grey-color-dark;
    letter-spacing: $letter-spacing-small;
    
}

h1,
.heading-primary {
    font-size: $font-size-largest;
    line-height: $line-height-small;
    margin-bottom: 3.2rem;
}
h2,
.heading-secondary {
    font-size: $font-size-large;
    line-height: $line-height-medium;
    margin-bottom: 9.6rem;
}
h3, 
.heading-tertiary {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: $font-size-small;
    font-weight: 500;
    color: $primary-color-dark;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: $letter-spacing-medium;
}

.heading-featured-in {
    font-size: $font-size-smaller;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-medium;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: $grey-color-light2;
}