/* COLORS */

/* Background colors */
$bg-color-orange-light: #fdf2e9;

/* Primary orange colors */
$primary-color: #e67e22;
$primary-color-dark: #cf711f;

/* White colors */
$white-color: #fff;
$white-color-light: #fdf2e9;
$white-color-dark: #fae5d3;

/* Grey colors */
$grey-color: #555;
$grey-color-dark: #333;
$grey-color-light: #dddddd;
$grey-color-light2: #888;

/* Other colors */
$green-color: #51cf66;
$green-color-lime: #94d82d;
$yellow-color: #ffd43b;


/*
--- COLORS
- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a
- Accents:
- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333
*/


/* Shadows */
$shadow: 0 2.4rem 4.8rem rgba(0,0,0,.1);

/* Fonts sizes */
$font-size-largest: 5.2rem;
$font-size-large: 4.4rem;
$font-size-medium: 3rem;
$font-size-small: 1.6rem;
$font-size-smaller: 1.4rem;



/* line-height */
$line-height-default: 1;
$line-height-small: 1.05;
$line-height-medium: 1.2;
$line-height-paragraph: 1.6;


/* Letter-spacing */
$letter-spacing-small: -0.5px;
$letter-spacing-medium: 0.75px;


/* Padding */
$padding-small-on-top: 4.8rem 0 9.6rem 0;
$padding-small-at-bottom: 4.8rem 0 3.2rem 0;
$padding: 9.6rem 0;
$padding-small: 4.8rem 0;
$padding-smallest: 0.4rem 0.8rem;


/* Transition */
$transition: all .3s;


/* Border radius */
$border-radius-default: 9px;
$border-radius-medium: 11px;
