@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-Regular.eot),
      url(/assets/font/Inter-Regular.ttf),
      url(/assets/font/Inter-Regular.woff),
      url(/assets/font/Inter-Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-500.eot),
      url(/assets/font/Inter-500.ttf),
      url(/assets/font/Inter-500.woff),
      url(/assets/font/Inter-500.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(/assets/font/Inter-700.eot),
      url(/assets/font/Inter-700.ttf),
      url(/assets/font/Inter-700.woff),
      url(/assets/font/Inter-700.woff2);
  font-weight: 700;
}