.section-hero {
    background-color: $bg-color-orange-light;
    padding: $padding-small-on-top;
}
.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}
.hero-img {
    width: 100%;
}
.hero-description {
    font-size: 2rem;
    line-height: $line-height-medium;
    line-height: $line-height-paragraph;
    margin-bottom: 4.8rem;
}
