.section-how {
    padding: $padding;
}
.grid {
    @include grid(repeat(2,1fr), center);
}
.step-number {
    font-size: 8.6rem;
    font-weight: 700;
    color: $grey-color-light;
    margin-bottom: 1.2rem;
}
.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box {
    @include flexCenter(center, center);
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 60%;
        // height: 60%;
        padding-bottom: 60%; //60% of parent's width
        border-radius: 50%;
        background-color: $white-color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -9;
    }
    &::after {
        content: "";
        display: block;
        width: 45%;
        padding-bottom: 45%;
        background-color: $white-color-dark;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

    }
}
.step-img {
    width: 35%;
}