.section-how {
    padding: $padding;
}
.grid-how {
    @include grid(repeat(2,1fr), center);

    @include bp('phone-s') {
		@include grid(1fr,center);
	}
}
.step-number {
    font-size: 8.6rem;
    font-weight: 700;
    color: $grey-color-light;
    margin-bottom: 1.2rem;
    @include bp('tablet') {
        font-size: 7.4rem;
    }
}
.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box {
    @include flex(center, center);
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 60%;
        // height: 60%;
        padding-bottom: 60%; //60% of parent's width
        border-radius: 50%;
        background-color: $white-color-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -9;
    }
    &::after {
        content: "";
        display: block;
        width: 45%;
        padding-bottom: 45%;
        background-color: $white-color-dark;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    @include bp('phone-s') {
		&:nth-child(2) {
            grid-row: 1;
        }
        &:nth-child(6) {
            grid-row: 5;
        }
        transform: transleteY(2.4rem);
        
	}
}
.step-img {
    width: 35%;
}