.section-meals {
    padding: $padding;
}

.grid-meals {
    @include grid(repeat(3,1fr),flex-start);
    
}

.meal {
    box-shadow: $shadow;
    border-radius: $border-radius-medium;
    overflow: hidden;
    transition: $transition;
    cursor: pointer;
    &:hover {
        transform: translateY(-1.2rem);
        box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,.06);
    }
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: .4rem;
}

.tag {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: $padding-smallest;
    color: $grey-color-dark;
    border-radius: 100px;
}
.tag--vegetarian {
    background-color: $green-color;
}
.tag--vegan {
    background-color: $green-color-lime;
}
.tag--paleo {
    background-color: $yellow-color;
}
.meal-title {
    font-size: 2.4rem;
    color: $grey-color-dark;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    @include flexColumn(2rem);
}

.meal-attribute {
    font-size: 1.8rem;
    @include flex(flex-start,center);
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: $primary-color;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}