.btn,
.btn:link,
.btn:visited  {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: $white-color;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: $transition;
    border: none;
    cursor: pointer;
    @include bp('phone-s') {
		padding: 2.4rem 1.6rem;
	}
}
.btn {
    color: inherit;
}
.btn--full:link,
.btn--full:visited {
    background-color: $primary-color;
}
.btn--outline:link,
.btn--outline:visited {
    background-color: $white-color;
    color: $grey-color;
}
.btn--full {
    &:hover,
    &:active {
        background-color: $primary-color-dark;
    }
}
.btn--outline {
    &:hover,
    &:active {
        background-color: $white-color-light;
        box-shadow: inset 0 0 0 3px $white-color;
    }
}
