.btn:link,
.btn:visited  {
    display: inline-block;
    font-size: 2rem;
    color: $white-color;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all .3s;
}
.btn--full:link,
.btn--full:visited {
    background-color: $primary-color;
}
.btn--outline:link,
.btn--outline:visited {
    background-color: $white-color;
    color: $grey-color;
}
.btn--full {
    &:hover,
    &:active {
        background-color: $primary-color-dark;
    }
}
.btn--outline {
    &:hover,
    &:active {
        background-color: $white-color-light;
        box-shadow: inset 0 0 0 3px $white-color;
    }
}
